body {
    background-image: url(../img/nebulosa.webp);
    background-repeat: no-repeat;
    background-size: 100%;
}

.painel {
    width: 480px;
    height: 900px;
    background-color: rgba(0, 0, 0, 0.75);
    margin-top: 150px;
    margin-left: 150px;
    color: white;
    border: 20px solid rgb(215, 165, 73);
    font-size: 42px;
    padding: 30px;
    border-radius: 30px;
    text-align: center;
}
