<div class="container">
  <hr class="my-4" />

  <div class="row mb-4 d-flex justify-content-between align-items-center">
    <div class="col-md-3 col-lg-3 col-xl-3">
      <h6 class="text-muted">TV</h6>
    </div>
    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
      <a
        href="/tv/create"
        type="button"
        data-mdb-button-init
        data-mdb-ripple-init
        class="btn btn-dark btn-block btn-lg"
        data-mdb-ripple-color="dark"
      >Adicionar</a>
    </div>
  </div>
  <hr class="my-4" />

  <div class="row mb-4 d-flex justify-content-between align-items-center">
    <div class="col-md-3 col-lg-3 col-xl-3">
      <h6 class="text-muted">Celular</h6>
    </div>
    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
      <a
        href="/celular/create"
        type="button"
        data-mdb-button-init
        data-mdb-ripple-init
        class="btn btn-dark btn-block btn-lg"
        data-mdb-ripple-color="dark"
      >Adicionar</a>
    </div>
  </div>

  <hr class="my-4" />

  <div class="row mb-4 d-flex justify-content-between align-items-center">
    <div class="col-md-3 col-lg-3 col-xl-3">
      <h6 class="text-muted">Bicicleta</h6>
    </div>
    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
      <a
        href="/bicicleta/create"
        type="button"
        data-mdb-button-init
        data-mdb-ripple-init
        class="btn btn-dark btn-block btn-lg"
        data-mdb-ripple-color="dark"
      >Adicionar</a>
    </div>
  </div>

  <hr class="my-4" />
</div>